/**
* The following styles get applied inside the editor only.
*
* Replace them with your own styles or remove the file completely.
*/
.block-editor-block-list__block .block-list-appender {
    position: static;
}
.theme-section-full {
	border: 1px solid #ddd;
    
	.captain-1section{
		position: relative;
		padding: 50px 30px;
		.blockname{
			position: absolute;
			top: 0;
			right: 0;
			background-color: #eded1b;
			color: #000;
			padding: 5px 10px;
		}
		
	}
}
